--extra-index-url https://download.pytorch.org/whl/cu124

fastapi==0.135.1
numpy==2.2.6
opencv-python==4.13.0.92
pillow==12.1.1
python-multipart==0.0.22
segmentation-models-pytorch==0.5.0
timm==1.0.25
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
torchinfo==1.8.0
tqdm==4.67.3
uvicorn==0.41.0
fpdf2==2.8.7